<h1> Welcome back</h1>

<%= current_user.email %>

<%= link_to "Edit profile details", edit_user_registration_path(current_user) %>

<%= image_tag current_user.picture if current_user.picture.attached? %>

<%= link_to "Apply as a coach", new_coach_path%>

<%= link_to "Coach profile", coach_path(current_user)%>